<div
  class="hero min-h-screen"
  style="background-image: url(https://img.daisyui.com/images/stock/photo-1507358522600-9f71e620c44e.webp);"
>
  <div class="hero-overlay"></div>
  <div class="hero-content text-neutral-content text-center">
    <div class="max-w-md flex flex-col items-center gap-3">
      <h1 class="mb-5 text-5xl font-bold">Países App</h1>
      <p class="mb-5">
        Aplicación interesante para buscar información especifica y veridica sobre todos los países del mundo.
      </p>
      <button routerLink="/country" class="w-[100px] btn btn-primary">Empezar</button>
    </div>
  </div>
</div>
